<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Samuel Walker - Portfolio</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main class="homepage">
      <section class="hero-box">
        <div class="box-content">
          <h1>Samuel Walker</h1>
          <h3></h3>
          <!-- <p>
            Curiosity is the engine of innovation.
            
          </p> -->
        </div>
      </section>
      <section class="projects-intro-box">
        <div class="box-content">
          <h2>Let’s build the future</h2>
          <p>Curiosity is what drives me to transform abstract problems into functional, efficient solutions.
            I have worked on a wide range of projects, from web applications to 3D Graphics, and I'm always eager to take on new challenges.
          </p>
          <a href="projects_page.html" class="btn">VIEW PROJECTS</a>
        </div>
      </section>
      <section class="contact-box">
        <div class="box-content">
          <h2>Contact Me</h2>
          <p>I’m always open to new opportunities. 
            Contact me via Linkedin, or View my Resume.
          </p>
          <div class="contact-links">
            <a
              href="https://linkedin.com/in/samuel-walker2"
              target="_blank"
              rel="noopener"
              class="btn btn-linkedin"
              ><i class="fab fa-linkedin"></i> LINKEDIN</a
            >
            <a
              href="<%= assetPath %>/resume.pdf"
              target="_blank"
              class="btn btn-resume"
              ><i class="fas fa-file-alt"></i> RESUME</a
            >
          </div>
        </div>
      </section>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
