<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Samuel Walker - Portfolio</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <div id="header">
        <h1 class="center transparent">Resume / Contact Information</h1>
      </div>
      <div class="content">
        <h1 class="center">Samuel Walker</h1>
        <p><b>Email: </b>sam.p.w524@gmail.com</p>
        <p><b>GitHub: </b> https://github.com/zipCoder933</p>
        <p><b>Portfolio: </b> yourwebsite.com</p>
        <p>
          <b>LinkedIn: </b> https://www.linkedin.com/in/samuel-walker-b6b268233/
        </p>
        <h1 class="center">Summary</h1>
        <p>
          I am a passionate programmer, maker, and engineer, who enjoys the
          artistic side just as much as the technical side of projects, Besides
          programming, I have worked with robotics, AI, 3D printing and even
          art!
        </p>
        <h1 class="center">Skills</h1>
        <p>
          <b>Languages: </b>Python, Java, C#, JavaScript, HTML, CSS, the usual.
        </p>
        <p><b>Tools & Frameworks: </b>Godot, React, Node.js, Docker, etc.</p>
        <p><b>Other: </b>Linux, Git, game development, modding, etc.</p>
        <p>
          I have worked with many different programming languages in the past. I
          have programmed Java by far the most. Most of the projects I have made
          in the past have been made with java.
        </p>

        <h1 class="center">Projects</h1>
        <h4>Xbuilders</h4>
        <ul>
          <li>An open source voxel game based built on Java and OpenGL.</li>
          <li>
            Inspired by minecraft, This was the most time consuming projects I
            ever did . Includes complete lighting engine, liquid propagation,
            creative building tools, survival mechanics, and best of all, LAN
            multiplayer.
          </li>
        </ul>
        <h4>Cogni-Crawl</h4>
        <ul>
          <li>A 3D flashcard memorization game built using Godot</li>
          <li>
            Includes a complete JSON data driven system, so you can import any
            set of flashcards you want and Cogni-crawl creates a complete
            dungeon crawler where you must master all flashcards at breakneck
            speed in order to escape.
          </li>
        </ul>
        <h1 class="center">Additional</h1>
        <p>Participated in the 2025 BYUI hackathon</p>
      </div>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
