<footer class="footer">
      <div class="container">
        <p>&copy; 2024 Samuel Walker. All rights reserved.</p>
        <div class="social-links">
          <a
            href="https://github.com/zipCoder933"
            target="_blank"
            rel="noopener"
            ><i class="fab fa-github"></i
          ></a>
          <a
            href="https://linkedin.com/in/samuel-walker"
            target="_blank"
            rel="noopener"
            ><i class="fab fa-linkedin"></i
          ></a>
        </div>
      </div>
    </footer>
    <script>
      $(window).on("scroll", function () {
        // console.log($(this).scrollTop());
        if ($(this).scrollTop() > 50) {
          $("#header").addClass("opaque-nav");
        } else {
          $("#header").removeClass("opaque-nav");
        }
      });

      const menuToggle = document.querySelector(".menu-toggle");
      const mainNav = document.querySelector(".main-nav");
      menuToggle.addEventListener("click", () => {
        mainNav.classList.toggle("show");
      });
    </script>